.list-element{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;
    border-radius: 15px;
}
.picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.name{
    font-size: 30px;
    font-family: roboto;
}

@media screen and (max-width: 522px) {
    .list-element{
        width: 300px;
    }
    .name{
        font-size: 20px;
        font-family: roboto;
    }
    .picture{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}